/* 초기화  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

/* body */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  align-items: center;
  background-color: white;
  margin: 0 auto;
}

/* 로그인  */
.login_container {
  background-color: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 25%;
}

.login_container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
.form_group {
  margin-bottom: 15px;
  text-align: left;
}
.form_group input {
  width: 100%;
  padding: 12px;
  border: 1px solid beige;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.form_group input:focus {
  border-color: burlywood;
}
.checkbox_group {
  display: flex;
  align-items: center;
  margin: 10px auto;
  font-size: 14px;
}
.checkbox_group input {
  margin-right: 5px;
  accent-color: burlywood;
}

.login_button {
  width: 100%;
  padding: 12px;
  background: beige;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin: 10px auto;
  border-radius: 5px;
}

footer {
  width: 100%;
  margin-top: auto;
  text-align: center;
}
